*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    background-color: hsl(240, 78%, 98%);
}

.l-container__item {
    max-width: 900px;
    margin: 50px auto;
}

.welcome {
    text-align: center;
}

.welcome__title {
    font-size: 28px;
    color: hsl(233, 13%, 49%);
}

.welcome__toggle {
    margin: 40px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome__type {
    color: hsl(234, 14%, 74%);
}

.welcome__button {
    position: relative;
    margin: 0 20px;
    width: 44px;
    height: 25px;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}

.welcome__button::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 3px;
    left: 4px;
    background-color: white;
    transition: all 200ms ease-out;
    cursor: pointer;
}

.welcome__checkbox {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.welcome__checkbox:focus + .welcome__button::after {
    outline: 4px solid pink;    
}

.welcome__checkbox:checked + .welcome__button::after {
    left: 20px;
}

.pricing {
    display: flex;
    align-items: center;
}

.pricing__card {
    margin: 20px 0;
    flex: 1;
    padding: 30px;
    text-align: center;
    background-color: white;
}

.pricing__card--left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pricing__card--middle {
    margin: 0;
    padding-top: 50px;
    align-self: stretch;
    background-image: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 10px;
}

.pricing__card--right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.pricing__type {
    color: hsl(233, 13%, 49%);
}

.pricing__type--inverse {
    color: hsl(240, 78%, 98%);
}

.pricing__price {
    margin: 30px 0;
    font-size: 56px;
    color: hsl(232, 13%, 33%);
}

.pricing__price--inverse {
    color: hsl(240, 78%, 98%);
}

.pricing__currency {

    position: relative;
    top: -8px;
    left: -4px;
    font-size: 32px;
}

.pricing__info {
    padding: 15px 0;
    color: hsl(233, 13%, 49%);
    font-size: 13px;
    border-top: 1px solid hsl(234, 14%, 74%);
}

.pricing__info--last {
    border-bottom: 1px solid hsl(234, 14%, 74%);
}

.pricing__info--inverse {
    color: hsl(240, 78%, 98%);
}

.pricing__cta {
    margin-top: 30px;
    padding: 12px;
    width: 100%;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%)); 
    border-radius: 5px;
    border: 1px solid hsl(237, 63%, 64%);
    cursor: pointer;
    transition: 200ms all ease-out;
}

.pricing__cta:hover {
    background-color: transparent;
    background-image: none;
    color: hsl(237, 63%, 64%);
}

.pricing__cta--inverse {
    background-color: hsl(240, 78%, 98%);
    background-image: none;
    color: hsl(237, 63%, 64%);
    border: 1px solid hsl(240, 78%, 98%);
}

.pricing__cta--inverse:hover {
    background-color: transparent;
    color: hsl(240, 78%, 98%);
}

@media only screen and (max-width: 900px) {
    .pricing {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        align-items: stretch;
    }
   
}

@media only screen and (max-width: 420px) {
    .pricing {
        max-width: 360px;
    }
}